{{ block scripts }}
<!doctype html>
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .progress-text {
            text-align: right;
            color: grey;
            font-size: 11px;
            width: 100%; /* Ensures the text spans the full width of its container */
        }
    </style>

{{ endblock }}

    {{ block content }}
    <h2>Information for payment of respondents</h2>

    {{ if total_records > 0 }}
        <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Date interview</th>
                    <th>Phone number</th>
                    <th>Participation fee</th>
                    <th>Payoff games</th>
                    <th>Total payments</th>
                </tr>
            </thead>
            <tbody>
                {% for row in csv_data %}
                    <tr>
                        <td>{{ row.participant_label }}</td>
                        <td>{{ row.date_interview }}</td>
                        <td>{{ row.participant_number }}</td>
                        <td>{{ row.participation_fee }}</td>
                        <td>{{ row.payoff_games }} </td>
                        <td>{{ row.total_compensation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>Total number of respondents : {{ total_records }}</p>
    {{ else }}
        <p>Waiting for participant data</p>
    {{ endif }}
{{ endblock }}

{{ block options }}
</html>
{{ endblock }}
